@import "tailwindcss";
@import "./animations.css" layer(utilities);
@custom-variant dark (&:is(.dark *));

:root {
  --bg: var(--color-neutral-50);
  --surface: var(--color-white);

  --overlay: --alpha(var(--color-black) / 20%);
  --modal: var(--color-neutral-100);

  --popover: --alpha(var(--color-white) / 80%);

  --primary: var(--color-indigo-600);
  --primary-muted: --alpha(var(--color-indigo-600) / 10%);

  --secondary: --alpha(var(--color-neutral-500) / 8%);
  --muted: --alpha(var(--color-neutral-500) / 12%);

  --danger: var(--color-red-600);
  --danger-muted: --alpha(var(--color-red-600) / 10%);

  --text: var(--color-black);
  --text-2: --alpha(var(--color-black) / 50%);
  --text-3: --alpha(var(--color-black) / 30%);

  --border: --alpha(var(--color-black) / 12%);

  --on-primary: var(--color-white);
  --on-danger: var(--color-white);

  --scrollbar: #d9d9d9;
}

@theme inline {
  --color-bg: var(--bg);
  --color-surface: var(--surface);

  --color-overlay: var(--overlay);
  --color-modal: var(--modal);

  --color-popover: var(--popover);

  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);

  --color-secondary: var(--secondary);
  --color-muted: var(--muted);

  --color-danger: var(--danger);
  --color-danger-muted: var(--danger-muted);

  --color-text: var(--text);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);

  --color-border: var(--border);

  --color-on-primary: var(--on-primary);
  --color-on-danger: var(--on-danger);

  --radius-lg: 0.75rem;
  --radius-xs: calc(var(--radius-lg) * 0.25);
  --radius-sm: calc(var(--radius-lg) * 0.5);
  --radius-md: calc(var(--radius-lg) * 0.75);
  --radius-xl: calc(var(--radius-lg) * 1.5);
  --radius-2xl: calc(var(--radius-lg) * 2);
  --radius-3xl: calc(var(--radius-lg) * 3);

  --default-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
  --ease-in: cubic-bezier(0.42, 0, 1.0, 1.0);
  --ease-out: cubic-bezier(0.0, 0, 0.58, 1.0);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1.0);

  --font-sans: "Geist";
  --font-mono: "Geist Mono";
}

.dark {
  --bg: var(--color-neutral-950);
  --surface: var(--color-black);

  --overlay: --alpha(var(--color-black) / 50%);
  --modal: var(--color-neutral-900);

  --popover: --alpha(var(--color-neutral-800) / 80%);

  --primary: var(--color-indigo-500);
  --primary-muted: --alpha(var(--color-indigo-500) / 15%);

  --secondary: --alpha(var(--color-neutral-500) / 18%);
  --muted: --alpha(var(--color-neutral-500) / 24%);

  --danger: var(--color-red-500);
  --danger-muted: --alpha(var(--color-red-500) / 15%);

  --text: var(--color-white);
  --text-2: --alpha(var(--color-white) / 60%);
  --text-3: --alpha(var(--color-white) / 40%);

  --border: --alpha(var(--color-white) / 14%);

  --on-primary: var(--color-white);
  --on-danger: var(--color-white);

  --scrollbar: #262626;
}

@layer base {
  * {
    scrollbar-color: var(--scrollbar) transparent;
    scrollbar-width: thin;
    border-color: var(--color-border);
    outline-color: var(--color-primary) / 50;
    ::selection {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }
  }

  body {
    background-color: var(--color-surface);
    color: var(--color-text);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
}
